/* 该css文件不参与打包环境中 仅供B站样式环境变量参考 */
:root {
  --v_brand_pink: var(--brand_pink, #FF6699);
  --v_brand_pink_thin: var(--brand_pink_thin, #FFECF1);
  --v_brand_blue: var(--brand_blue, #00AEEC);
  --v_brand_blue_thin: var(--brand_blue_thin, #DFF6FD);
  --v_stress_red: var(--stress_red, #F85A54);
  --v_stress_red_thin: var(--stress_red_thin, #FEECEA);
  --v_success_green: var(--success_green, #2AC864);
  --v_success_green_thin: var(--success_green_thin, #E4F8EA);
  --v_operate_orange: var(--operate_orange, #FF7F24);
  --v_operate_orange_thin: var(--operate_orange_thin, #FFF0E3);
  --v_pay_yellow: var(--pay_yellow, #FFB027);
  --v_pay_yellow_thin: var(--pay_yellow_thin, #FFF6E4);
  --v_bg1: var(--bg1, #FFFFFF);
  --v_bg2: var(--bg2, #F6F7F8);
  --v_bg3: var(--bg3, #F1F2F3);
  --v_bg1_float: var(--bg1_float, #FFFFFF);
  --v_bg2_float: var(--bg2_float, #F1F2F3);
  --v_text_white: var(--text_white, #FFFFFF);
  --v_text1: var(--text1, #18191C);
  --v_text2: var(--text2, #61666D);
  --v_text3: var(--text3, #9499A0);
  --v_text4: var(--text4, #C9CCD0);
  --v_text_link: var(--text_link, #008AC5);
  --v_text_notice: var(--text_notice, #E58900);
  --v_line_light: var(--line_light, #F1F2F3);
  --v_line_regular: var(--line_regular, #E3E5E7);
  --v_line_bold: var(--line_bold, #C9CCD0);
  --v_graph_white: var(--graph_white, #FFFFFF);
  --v_graph_bg_thin: var(--graph_bg_thin, #F6F7F8);
  --v_graph_bg_regular: var(--graph_bg_regular, #F1F2F3);
  --v_graph_bg_thick: var(--graph_bg_thick, #E3E5E7);
  --v_graph_weak: var(--graph_weak, #C9CCD0);
  --v_graph_medium: var(--graph_medium, #9499A0);
  --v_graph_icon: var(--graph_icon, #61666D);
  --v_shadow: var(--shadow, #000000);
  --v_brand_pink_hover: var(--brand_pink_hover, #FF8CB0);
  --v_brand_pink_active: var(--brand_pink_active, #E84B85);
  --v_brand_pink_disabled: var(--brand_pink_disabled, #FFB3CA);
  --v_brand_blue_hover: var(--brand_blue_hover, #40C5F1);
  --v_brand_blue_active: var(--brand_blue_active, #008AC5);
  --v_brand_blue_disabled: var(--brand_blue_disabled, #80DAF6);
  --v_stress_red_hover: var(--stress_red_hover, #FA857F);
  --v_stress_red_active: var(--stress_red_active, #E23D3D);
  --v_stress_red_disabled: var(--stress_red_disabled, #FCAFAA);
  --v_text_hover: var(--text_hover, #797F87);
  --v_text_active: var(--text_active, #61666D);
  --v_text_disabled: var(--text_disabled, #C9CCD0);
  --v_line_border: var(--line_border, #C9CCD0);
  --v_line_bolder_hover: var(--line_bolder_hover, #E3E5E7);
  --v_line_bolder_active: var(--line_bolder_active, #AEB3B9);
  --v_line_bolder_disabled: var(--line_bolder_disabled, #F1F2F3)
}

:root {
  --Ga0_u: #F6F7F8;
  --Ga1_u: #F1F2F3;
  --Ga2_u: #E3E5E7;
  --Ga3_u: #C9CCD0;
  --Ga4_u: #AEB3B9;
  --Ga5_u: #9499A0;
  --Ga6_u: #797F87;
  --Ga7_u: #61666D;
  --Ga8_u: #484C53;
  --Ga9_u: #2F3238;
  --Ga10_u: #18191C;
  --Ga11_u: #FFFFFF;
  --Ga12_u: #F1F2F3;
  --Wh0_u: #FFFFFF;
  --Ba0_u: #000000;
  --Pi0_u: #FFF3F6;
  --Pi1_u: #FFECF1;
  --Pi2_u: #FFD9E4;
  --Pi3_u: #FFB3CA;
  --Pi4_u: #FF8CB0;
  --Pi5_u: #FF6699;
  --Pi6_u: #E84B85;
  --Pi7_u: #D03171;
  --Pi8_u: #AD1C5B;
  --Pi9_u: #771141;
  --Pi10_u: #3F0723;
  --Ma0_u: #FEF3FC;
  --Ma1_u: #FDEBFA;
  --Ma2_u: #FBD7F4;
  --Ma3_u: #F7AEEB;
  --Ma4_u: #F286E2;
  --Ma5_u: #EE5DDB;
  --Ma6_u: #DA41CB;
  --Ma7_u: #C525BA;
  --Ma8_u: #9B1797;
  --Ma9_u: #670F67;
  --Ma10_u: #330834;
  --Re0_u: #FEF3F2;
  --Re1_u: #FEECEA;
  --Re2_u: #FDD7D4;
  --Re3_u: #FCAFAA;
  --Re4_u: #FA857F;
  --Re5_u: #F85A54;
  --Re6_u: #E23D3D;
  --Re7_u: #C9272C;
  --Re8_u: #9F1922;
  --Re9_u: #710E18;
  --Re10_u: #3B060D;
  --Or0_u: #FFF6EE;
  --Or1_u: #FFF0E3;
  --Or2_u: #FFE1C7;
  --Or3_u: #FFC18F;
  --Or4_u: #FFA058;
  --Or5_u: #FF7F24;
  --Or6_u: #E95B03;
  --Or7_u: #BB4100;
  --Or8_u: #8D2D00;
  --Or9_u: #5E1B00;
  --Or10_u: #2F0C00;
  --Ye0_u: #FFFAEF;
  --Ye1_u: #FFF6E4;
  --Ye2_u: #FFEEC9;
  --Ye3_u: #FFDB93;
  --Ye4_u: #FFC65D;
  --Ye5_u: #FFB027;
  --Ye6_u: #E58900;
  --Ye7_u: #B76800;
  --Ye8_u: #8A4A00;
  --Ye9_u: #5B2E00;
  --Ye10_u: #2F1600;
  --Ly0_u: #FFFCEC;
  --Ly1_u: #FFFADF;
  --Ly2_u: #FFF5BF;
  --Ly3_u: #FFEA80;
  --Ly4_u: #FFDC40;
  --Ly5_u: #FFCC00;
  --Ly6_u: #D5A300;
  --Ly7_u: #AA7D00;
  --Ly8_u: #805A00;
  --Ly9_u: #553900;
  --Ly10_u: #2B1B00;
  --Lg0_u: #F7FBEF;
  --Lg1_u: #F2F9E4;
  --Lg2_u: #E3F2C8;
  --Lg3_u: #C7E691;
  --Lg4_u: #A9D95B;
  --Lg5_u: #88CC24;
  --Lg6_u: #66B105;
  --Lg7_u: #4E8E04;
  --Lg8_u: #376A03;
  --Lg9_u: #224702;
  --Lg10_u: #102301;
  --Gr0_u: #EFFBF3;
  --Gr1_u: #E4F8EA;
  --Gr2_u: #CAF1D6;
  --Gr3_u: #95E4AF;
  --Gr4_u: #5FD689;
  --Gr5_u: #2AC864;
  --Gr6_u: #0EB350;
  --Gr7_u: #089043;
  --Gr8_u: #046E35;
  --Gr9_u: #034926;
  --Gr10_u: #012414;
  --Cy0_u: #EDFBFB;
  --Cy1_u: #E2F8F8;
  --Cy2_u: #C4EFF0;
  --Cy3_u: #89E1E1;
  --Cy4_u: #4FD3D1;
  --Cy5_u: #14C4BF;
  --Cy6_u: #02AAAA;
  --Cy7_u: #018488;
  --Cy8_u: #015F66;
  --Cy9_u: #013D44;
  --Cy10_u: #001D22;
  --Lb0_u: #ECFAFE;
  --Lb1_u: #DFF6FD;
  --Lb2_u: #BFEDFA;
  --Lb3_u: #80DAF6;
  --Lb4_u: #40C5F1;
  --Lb5_u: #00AEEC;
  --Lb6_u: #008AC5;
  --Lb7_u: #00699D;
  --Lb8_u: #004B76;
  --Lb9_u: #002F4F;
  --Lb10_u: #001627;
  --Bl0_u: #F3F5FF;
  --Bl1_u: #EBEFFF;
  --Bl2_u: #D7DFFF;
  --Bl3_u: #B0C1FF;
  --Bl4_u: #88A4FF;
  --Bl5_u: #6188FF;
  --Bl6_u: #4C6DE4;
  --Bl7_u: #3752C8;
  --Bl8_u: #2136AC;
  --Bl9_u: #121F7F;
  --Bl10_u: #080D41;
  --Pu0_u: #F9F4FF;
  --Pu1_u: #F6EDFF;
  --Pu2_u: #EDDBFF;
  --Pu3_u: #D8B6FF;
  --Pu4_u: #C392FF;
  --Pu5_u: #AC6DFF;
  --Pu6_u: #8F56E4;
  --Pu7_u: #723ECC;
  --Pu8_u: #5627B3;
  --Pu9_u: #371683;
  --Pu10_u: #190A44;
  --Br0_u: #FAF8F6;
  --Br1_u: #F7F3F0;
  --Br2_u: #EFE7E0;
  --Br3_u: #E0CFC1;
  --Br4_u: #D0B7A3;
  --Br5_u: #C19D84;
  --Br6_u: #A5816A;
  --Br7_u: #856553;
  --Br8_u: #634A3E;
  --Br9_u: #423029;
  --Br10_u: #211815;
  --Si0_u: #F9FBFC;
  --Si1_u: #F5F7FA;
  --Si2_u: #EBEFF4;
  --Si3_u: #D7E0EA;
  --Si4_u: #C3D0DF;
  --Si5_u: #AFC0D5;
  --Si6_u: #8D9FB9;
  --Si7_u: #6D7F9C;
  --Si8_u: #4D5D7C;
  --Si9_u: #323D54;
  --Si10_u: #191E2B;
  --Wh0_u_rgb: 255, 255, 255;
  --brand_pink: var(--Pi5);
  --brand_pink_thin: var(--Pi1);
  --brand_blue: var(--Lb5);
  --brand_blue_thin: var(--Lb1);
  --stress_red: var(--Re5);
  --stress_red_thin: var(--Re1);
  --success_green: var(--Gr5);
  --success_green_thin: var(--Gr1);
  --operate_orange: var(--Or5);
  --operate_orange_thin: var(--Or1);
  --pay_yellow: var(--Ye5);
  --pay_yellow_thin: var(--Ye1);
  --bg1: var(--Wh0);
  --bg2: var(--Ga0);
  --bg3: var(--Ga1);
  --bg1_float: var(--Ga11);
  --bg2_float: var(--Ga12);
  --text_white: var(--Wh0_u);
  --text1: var(--Ga10);
  --text2: var(--Ga7);
  --text3: var(--Ga5);
  --text4: var(--Ga3);
  --text_link: var(--Lb6);
  --text_notice: var(--Ye6);
  --line_light: var(--Ga1_s);
  --line_regular: var(--Ga2);
  --line_bold: var(--Ga3);
  --graph_white: var(--Wh0_u);
  --graph_bg_thin: var(--Ga0_s);
  --graph_bg_regular: var(--Ga1_s);
  --graph_bg_thick: var(--Ga2);
  --graph_weak: var(--Ga3);
  --graph_medium: var(--Ga5);
  --graph_icon: var(--Ga7);
  --shadow: var(--Ba0);
  --brand_pink_rgb: var(--Pi5_rgb);
  --brand_pink_thin_rgb: var(--Pi1_rgb);
  --brand_blue_rgb: var(--Lb5_rgb);
  --brand_blue_thin_rgb: var(--Lb1_rgb);
  --stress_red_rgb: var(--Re5_rgb);
  --stress_red_thin_rgb: var(--Re1_rgb);
  --success_green_rgb: var(--Gr5_rgb);
  --success_green_thin_rgb: var(--Gr1_rgb);
  --operate_orange_rgb: var(--Or5_rgb);
  --operate_orange_thin_rgb: var(--Or1_rgb);
  --pay_yellow_rgb: var(--Ye5_rgb);
  --pay_yellow_thin_rgb: var(--Ye1_rgb);
  --bg1_rgb: var(--Wh0_rgb);
  --bg2_rgb: var(--Ga0_rgb);
  --bg3_rgb: var(--Ga1_rgb);
  --bg1_float_rgb: var(--Ga11_rgb);
  --bg2_float_rgb: var(--Ga12_rgb);
  --text_white_rgb: var(--Wh0_u_rgb);
  --text1_rgb: var(--Ga10_rgb);
  --text2_rgb: var(--Ga7_rgb);
  --text3_rgb: var(--Ga5_rgb);
  --text4_rgb: var(--Ga3_rgb);
  --text_link_rgb: var(--Lb6_rgb);
  --text_notice_rgb: var(--Ye6_rgb);
  --line_light_rgb: var(--Ga1_s_rgb);
  --line_regular_rgb: var(--Ga2_rgb);
  --line_bold_rgb: var(--Ga3_rgb);
  --graph_white_rgb: var(--Wh0_u_rgb);
  --graph_bg_thin_rgb: var(--Ga0_s_rgb);
  --graph_bg_regular_rgb: var(--Ga1_s_rgb);
  --graph_bg_thick_rgb: var(--Ga2_rgb);
  --graph_weak_rgb: var(--Ga3_rgb);
  --graph_medium_rgb: var(--Ga5_rgb);
  --graph_icon_rgb: var(--Ga7_rgb);
  --shadow_rgb: var(--Ba0_rgb)
}



:root {
  --brand_pink_hover: var(--Pi4);
  --brand_pink_active: var(--Pi6);
  --brand_pink_disabled: var(--Pi3);
  --brand_blue_hover: var(--Lb4);
  --brand_blue_active: var(--Lb6);
  --brand_blue_disabled: var(--Lb3);
  --stress_red_hover: var(--Re4);
  --stress_red_active: var(--Re6);
  --stress_red_disabled: var(--Re3);
  --text_hover: var(--Ga6);
  --text_active: var(--Ga7);
  --text_disabled: var(--Ga3);
  --line_border: var(--Ga3);
  --line_bolder_hover: var(--Ga2);
  --line_bolder_active: var(--Ga4);
  --line_bolder_disabled: var(--Ga1_s)
}



html {
  --graph_bg_thick:var(--w-border-dark);
}


