
::-webkit-scrollbar {
  width: 4px !important;
  background-color: aliceblue !important;
}

::-webkit-scrollbar-track {
  background-color: rgb(22, 24, 35) !important;
}

::-webkit-scrollbar-thumb {
  background-color: #333 !important;
  border-radius: 4px !important;
}
