::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1000;
}

::view-transition-new(root) {
  z-index: 99999;
}

.dark::view-transition-old(root) {
  z-index: 99999;
}

.dark::view-transition-new(root) {
  z-index: 1000;
}
